body{
	background-color: lightgrey;
	margin: 1%;
}
header h1{
	display: inline-block;
	margin: 1%;
	clear:both;
	background-color:aliceblue;
}
figure{
	display: inline-block;
	float: right;

}
#intro{
	color: aliceblue;
	margin-left:1%;
	margin-bottom: 1%;
	padding: 1px;
}
header{
	background-color: darkgrey;
	border: 1px solid grey;
	display : block;
	height:150px;
}
footer{
	padding:5px;
	border : 1px solid grey;
	clear: both;
}

div.minor{
	background-color: #bdbdbd;
	margin:1%;
	padding: 5px;
	border-radius: 10px;
}

div.minor h4{
	height: 20px;
}

div.major{
	width: 50%;
}

div.minor{
	margin-bottom:10px;
}

section{
	display: flex;
	margin: 1%;
}

hr{
	color:darkgreen;
}

div.major span{
	display: inline-block;
	background-color: #616161;
	padding:1%;
	margin:1%;
	color: white;
	border-radius: 5px;

}

div.minor ul{
	list-style-type: square;
}

div.minor ul li{
	margin-bottom: 10px;
	font-size: 17px;
}

div.minor i{
	color:rgb(6, 6, 70);
}